

 <!-- Important file path to save time 
 
 1. path for feature product section code's file
 view
/home/healthychoicesca/public_html/catalog/view/theme/so-clickboom/template/extension/module/so_listing_tabs/default/default_items.twig 
controller 
/home/healthychoicesca/public_html/catalog/controller/extension/module/so_listing_tabs.php

-->

{{ header }}

    
    <div id="content" class="{{ class }}">

    {{ content_home }}
    {{ content_top }}
    {{ content_bottom }}
     </div>
   

{{ footer }}