 {{ header }}
   <link href="catalog/view/theme/so-clickboom/css/customerForms.css" rel="stylesheet" type="text/css" />

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    <div class="container text-black">
        
        <div class="row">
             <div class=" col-md-12 col-sm-12 mt-5">
                  The Light Drive is a compact power assist system that easily attaches to a manual
wheelchair to reduce the effort required to push. It is designed for people who want to stay
active and independent while taking the strain out of everyday movement, whether that is
getting up hills, travelling longer distances, or navigating ramps and uneven surfaces. It is
lightweight, travel-friendly, and suitable for a wide range of wheelchair users.
Simply complete the form below and our team will confirm whether Light Drive is suitable for
you, along with pricing and next steps.
                 </div>
                 </div>
    <div class="row">
        <div class="demo-request-container">
    
    
    <div class="demo-request-right col-md-12 col-sm-12">
        <form action="{{ action }}" method="post" id="quoteRequestForm">
            
            <div class="form-group">
               <input type="text" name="fullname"  placeholder="Full Name *" class="form-control" required>
               {% if error_fullname %} 
             <div class="text-red">{{ error_fullname }}</div>
             {% endif %} 
             </div>

            <div class="">
              <input type="text" name="email"  placeholder="Email *" class="form-control" required>
              
            </div>

            <div class="">
            <input type="text" name="phone" class="phoneValidate"  placeholder="Phone Number *" maxlength="10" required>
            {% if error_phone %} 
             <div class="text-red">{{ error_phone }}</div>
             {% endif %} 
            </div>
            <div class="">
            <input type="text" name="postcode" placeholder="Postcode *" maxlength="4"  title="Please enter up to 4 digits only" class="postcodeValidate" required>
            </div>

           <div class="required">
               
                    <select name="contact_type" id="contact_type" class="form-control">
                        <option value="" disabled selected>Are you contacting us as?</option>
                       
                        <option value="For Myself">For Myself</option>
                        <option value="For a Friend/Family Member">For a Friend/Family Member</option>
                        <option value="Healthcare Professional">Healthcare Professional</option>
                        <option value="Dealer or Business">Dealer or Business</option>
                        <option value="Government or Non-Profit Organisation">Government or Non-Profit Organisation</option>
                        <option value="Other">Other</option>
                    </select>
               
            </div>
            
            <div class="" id="healthcare_profession" style="display: none;">
                <select name="healthcare_profession" class="form-control">
                        <option value="" disabled selected>If Healthcare Professional, please specify:</option>
                        <option value="Occupational Therapist">Occupational Therapist</option>
                        <option value="Physiotherapist">Physiotherapist</option>
                        <option value="Rehabilitation Specialist">Rehabilitation Specialist</option>
                        <option value="Aged Care Professional">Aged Care Professional</option>
                        <option value="Nurse or Caregiver">Nurse or Caregiver</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Orthopedic Specialist">Orthopedic Specialist</option>
                    </select>
               
            </div>
                     
             <div class="required">
             
                    <select name="quote_type" class="form-control" required>
                        <option value="" disabled selected>Preferred Quote Type *</option>
                        <option value="Standard Quote">Standard Quote</option>
                        <option value="NDIS Funding Quote">NDIS Funding Quote</option>
                        <option value="Insurance/WorkSafe Quote">Insurance/WorkSafe Quote</option>
                    </select>
               
            </div>  

          

            
            <div class="">
                <textarea name="additional_info" class="form-control" placeholder="Additional Information"></textarea>
            </div>
              <div class="">
             {{ captcha }}
              </div>
               <input type="hidden" name="originalCaptcha" value={{ originalCaptcha }}>
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit Your Request</button>
        </form>
          <div id="toastMessage" class="toast"></div>
        <div id="loaderOverlay" class="loader-overlay">
        <div class="loader"></div>
    </div>
</div>


    </div> 
    </div>
    </div> 
    <script>
document.getElementById("contact_type").addEventListener("change", function() {
    var healthcareField = document.getElementById("healthcare_profession");
    if (this.value === "Healthcare Professional") {
        healthcareField.style.display = "block";
    } else {
        healthcareField.style.display = "none";
    }
});
</script>
    {{ column_right }}
    </div> 
     </div> 
     {{ footer }}
     <script>
      $('#loaderOverlay').hide();
//      $('#quoteRequestForm').submit(function(e) {
//                 e.preventDefault();
//                 var form = $(this);
//                 $('.text-red').remove(); // Clear previous errors
//               $('#loaderOverlay').show();
//                 $.ajax({
//   url: form.attr('action'),
//   type: 'POST',
//   data: form.serialize(),
//   dataType: 'json',
//   success: function(response) {
//     $('#loaderOverlay').hide();
//     $('.text-red').remove(); // remove old validation messages
//     if (response.success) {
//         form[0].reset();
//          $('#profession_other_group').hide();
//         $('#profession_other').prop('required', false);
//       $('#toastMessage')
//         .text(response.success)
//         .removeClass('error')
//         .show();

//       setTimeout(function() {
//         $('#toastMessage').fadeOut();
//       }, 20000);

//       form[0].reset();
    
//     } 
//     else if (response.error) {
//       // if it's an object (like { field1: "msg", field2: "msg2" })
//       if (typeof response.error === 'object') {
//   $('.text-red').remove(); // clear old errors

//   let lastError = ''; // variable to store last message
//   $.each(response.error, function(key, value) {
//     $('#' + key).after('<div class="text-red">' + value + '</div>');
//     lastError = value; // keep updating with latest error
//   });

//   // show only the last one in toast
//   $('#toastMessage')
//     .text(lastError)
//     .addClass('error')
//     .show();

//   setTimeout(() => $('#toastMessage').fadeOut(), 20000);
// }

//       // if it's a string
//       else if (typeof response.error === 'string') {
//         $('#toastMessage')
//           .text(response.error)
//           .addClass('error')
//           .show();
//       }

//       setTimeout(function() {
//         $('#toastMessage').fadeOut();
//       }, 20000);
//     }
//   }
 
// });

//             });
     </script>