{{ header }}
   <link href="catalog/view/theme/so-clickboom/css/customerForms.css" rel="stylesheet" type="text/css" />

<div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
        {% set class = 'col-sm-6 col-xs-12' %}
    {% elseif column_left or column_right %}
        {% set class = 'col-sm-9 col-xs-12' %}
    {% else %}
        {% set class = 'col-sm-12 col-xs-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
        <div class="container text-black">
            <div class="row">
  <div class="col-sm-12 col-xs-12 text-center">
    <h3 class="text-blue" style="font-weight: 600; letter-spacing: 1px; margin-top: 20px; margin-bottom: 20px;color:#013b76">
      <span class="glyphicon glyphicon-file" style="margin-right: 8px;"></span>
      Request a Quote
    </h3>
    <hr style="width: 60px; border-top: 3px solid #013b76; margin: 10px auto;">
  </div>
</div>

            <div class="row demo-request-container">
              
                
                <div class="demo-request-right  col-sm-12 col-xs-12">
                  <form action="{{ action }}" method="post" class="quoteForm">
                        <div class="form-group required">
                            <label for="fullname" class="control-label">Full Name *</label>
                            <input type="text" name="fullname" id="fullname" placeholder="Full Name *" class="form-control" required>
                            {% if error_fullname %}
                                <div class="text-danger">{{ error_fullname }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group required">
                            <label for="email" class="control-label">Email *</label>
                            <input type="email" name="email" id="email" placeholder="Email *" class="form-control" required>
                            
                        </div>

                        <div class="form-group required">
                            <label for="phone" class="control-label">Phone Number *</label>
                            <input type="text" maxlength="10"  name="phone" id="phone" placeholder="Phone Number *" class="form-control phoneValidate " required>
                            {% if error_phone %}
                                <div class="text-danger">{{ error_phone }}</div>
                            {% endif %}
                        </div>
                        
                       <div class="form-group required">
                            <label for="phone" class="control-label">Postcode *</label>
            <input type="text" name="postcode" placeholder="Postcode *" maxlength="4"  title="Please enter up to 4 digits only" class="postcodeValidate" required>
            </div>

                        <div class="form-group required">
                            <label for="contact_type" class="control-label">Are you contacting us as? *</label>
                            <select name="contact_type" id="contact_type" class="form-control" required>
                                <option value="" disabled selected>Are you contacting us as?</option>
                              
                                <option value="For Myself">For Myself</option>
                                <option value="For a Friend/Family Member">For a Friend/Family Member</option>
                                <option value="Healthcare Professional">Healthcare Professional</option>
                                <option value="Dealer or Business">Dealer or Business</option>
                                <option value="Government or Non-Profit Organisation">Government or Non-Profit Organisation</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div class="form-group" id="healthcare_profession" style="display: none;">
                            <label for="healthcare_profession" class="control-label">If Healthcare Professional, please specify:</label>
                            <select name="healthcare_profession" id="healthcare_profession" class="form-control">
                                <option value="" disabled selected>If Healthcare Professional, please specify:</option>
                                <option value="Occupational Therapist">Occupational Therapist</option>
                                <option value="Physiotherapist">Physiotherapist</option>
                                <option value="Rehabilitation Specialist">Rehabilitation Specialist</option>
                                <option value="Aged Care Professional">Aged Care Professional</option>
                                <option value="Nurse or Caregiver">Nurse or Caregiver</option>
                                <option value="Neurologist">Neurologist</option>
                                <option value="Orthopedic Specialist">Orthopedic Specialist</option>
                            </select>
                        </div>

                        <div class="form-group required">
                            <label for="quote_type" class="control-label">Preferred Quote Type *</label>
                            <select name="quote_type" id="quote_type" class="form-control" required>
                                <option value="" disabled selected>Preferred Quote Type *</option>
                                <option value="Standard Quote">Standard Quote</option>
                                <option value="NDIS Funding Quote">NDIS Funding Quote</option>
                                <option value="Insurance/WorkSafe Quote">Insurance/WorkSafe Quote</option>
                            </select>
                        </div>

                        <div class="form-group required">
                            <label for="product_id" class="control-label">Choose a Product *</label>
                              <select name="manufacturer_id" id="manufacturer_id" class="form-control" required>
    <option value="" disabled {% if not manufacturer_id %}selected{% endif %}>Product of interest *</option>
    {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.manufacturer_id }}" {% if manufacturer_id == manufacturer.manufacturer_id %}selected{% endif %}>
                {{ manufacturer.name }}
            </option>
    {% endfor %}
</select>
                            {% if error_product %}
                                <div class="text-danger">{{ error_product }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="additional_info" class="control-label">Additional Information</label>
                            <textarea name="additional_info" id="additional_info" class="form-control" placeholder="Additional Information"></textarea>
                        </div>

                        <div class="form-group">
                            {{ captcha }}
                        </div>
 <input type="hidden" name="originalCaptcha" value={{ originalCaptcha }}>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" aria-label="Submit Quote Request"><i class="fa fa-paper-plane"></i> Submit Your Request</button>
                        </div>
                    </form>
                    
        <div id="toastMessage" class="toast">
                        
                    </div>
        <div id="loaderOverlay" class="loader-overlay">
        <div class="loader"></div>
                </div>
            </div>
        </div>
        {{ content_bottom }}
    </div>
    {{ column_right }}
</div>
 {{ footer }}
<script>
document.getElementById("contact_type").addEventListener("change", function() {
    var healthcareField = document.getElementById("healthcare_profession");
    if (this.value === "Healthcare Professional") {
        healthcareField.style.display = "block";
    } else {
        healthcareField.style.display = "none";
    }
});
</script>



<script>
 $('#loaderOverlay').hide();
// $(document).on('submit', '.quoteForm', function(e) {
//                 e.preventDefault();
//                 var form = $(this);
//                 $('.text-red').remove(); // Clear previous errors
//               $('#loaderOverlay').show();
//                 $.ajax({
//   url: form.attr('action'),
//   type: 'POST',
//   data: form.serialize(),
//   dataType: 'json',
//   success: function(response) {
//     $('#loaderOverlay').hide();
//     $('.text-red').remove(); // remove old validation messages
//     if (response.success) {
//         form[0].reset();
//          $('#profession_other_group').hide();
//         $('#profession_other').prop('required', false);
//       $('#toastMessage')
//         .text(response.success)
//         .removeClass('error')
//         .show();

//       setTimeout(function() {
//         $('#toastMessage').fadeOut();
//       }, 20000);

//       form[0].reset();
    
//     } 
//      else if (response.error) {
//       // if it's an object (like { field1: "msg", field2: "msg2" })
//       if (typeof response.error === 'object') {
//   $('.text-red').remove(); // clear old errors

//   let lastError = ''; // variable to store last message
//   $.each(response.error, function(key, value) {
//     $('#' + key).after('<div class="text-red">' + value + '</div>');
//     lastError = value; // keep updating with latest error
//   });

//   // show only the last one in toast
//   $('#toastMessage')
//     .text(lastError)
//     .addClass('error')
//     .show();

//   setTimeout(() => $('#toastMessage').fadeOut(), 20000);
// }

//       // if it's a string
//       else if (typeof response.error === 'string') {
//         $('#toastMessage')
//           .text(response.error)
//           .addClass('error')
//           .show();
//       }

//       setTimeout(function() {
//         $('#toastMessage').fadeOut();
//       }, 20000);
//     }
//   }
 
// });

//             });
</script>