<style>
@media (max-width: 768px) {
  /* First Row: Align the 3 feature boxes */
  .feature-box {
    text-align: center;
    width: 100%; /* Take full width for better alignment */
    margin-bottom: 10px;
  }

  /* Second Row: Align Funding and Other Items */
  .middle-right {
    flex-wrap: wrap;
    justify-content: center; /* Center items */
  }
  .headerRightItem {
    flex: 1 0 45%; /* Make items fit in two columns */
    margin: 5px;
    text-align: center;
  }

  /* Third Row: Burger Icon (Left) and Cart + Account (Right) */
  .third-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #dfdfdf;
    background-color: #f7f7f7;
  }
  .burger-icon {
    font-size: 24px;
    cursor: pointer;
  }
  .cart-account {
    display: flex;
    gap: 10px;
  }
  .cart-account .shopping_cart,
  .cart-account .dropdown-block {
    display: inline-block;
  }
}
.btn-custom-blue-red {
    background: none;
    color: #f33233;
    padding: 10px 15px;
    font-weight: bold;
    border: 1px solid #f33233;
        }
        
        
        
        /* iPad only */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

  .feature-box {
    display: inline-block;
    width: 256px;            /* shrink to content */
    padding: 0 10px;
    text-align: center;
  }

  .feature-box span {
    display: inline;          /* keep text inline */
  }

  .row {
    text-align: center;       /* center align all boxes */
    display: block;           /* override Bootstrap row flex */
  }

  /* Add separator | except last */
  .feature-box:not(:last-child)::after {
    content: " |";
    margin-left: 10px;
    color: #fff; /* or adjust to match background */
  }
}

</style>
{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class="variant typeheader-{{ typeheader ? typeheader : '1'}}">
  {#<script src="https://www.google.com/recaptcha/enterprise.js?render=6Lcab9caAAAAANnUgfmoMnQTfkjagqp1xHgJ2xi3"></script>#}
  <script src="https://www.google.com/recaptcha/api.js?render=6Lcab9caAAAAANnUgfmoMnQTfkjagqp1xHgJ2xi3"></script>
  <!-- Top bar -->
  <div class="container-fluid">
      
    
    
    <div class="row">
      <div class="col-xs-4 feature-box light-blue">
        <i class="glyphicon glyphicon-ok"></i>
        <span>250+ Dealer Network</span>
      </div>
      <div class="col-xs-4 feature-box medium-blue">
        <i class="glyphicon glyphicon-ok"></i>
        <span>Expert Mobility Advice</span>
      </div>
      <div class="col-xs-4 feature-box dark-blue">
        <i class="glyphicon glyphicon-ok"></i>
        <span>Nationwide Delivery</span>
      </div>
    </div>
  </div>

  {% if soconfig.get_settings('custom_status') %}
  <div class="text-discount hidden-xs hidden-compact">
    <div class="container">
      {{ soconfig.get_settings('custom_html') }}
    </div>
  </div>
  {% endif %}

  <div class="header-center {{hidden_headercenter}}" style="border-bottom: 1px solid #dfdfdf;">
    <div class="container">
      <div class="row">
        <div class="pull-left col-left-top col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="logo" style="display:flex">
            {{soconfig.get_logo()}}
            <a href="https://www.ndis.gov.au/" target="_blank">
            <img class="" data-sizes="auto" src="https://www.mobilitycare.net.au/image/catalog/Logo/NDISLogo.jpg"  title="MobilityCare" alt="MobilityCare" async defer>
          </a>
          </div>
        </div>
        <div class="header-center col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
          <!-- Burger Menu for Mobile -->
          
          <div class="middle-right col-right-top row col-left-top hidden-sm hidden-xs" style="width: 100%; display: flex; align-items: center; justify-content: flex-end; gap: 28px;">
            <!-- Item: NDIS & Funding -->
            <div class="headerRightItem">
              <strong><a class="Funding" href="{{ ndis_link }}" style="color: black;"><i class="fa fa-usd" style="font-size: 18px;"></i> NDIS & Funding</a></strong>
            </div>
            <!-- Item: Dealers -->
            <div class="dropdown-block block-topsetting headerRightItem">
              <div class="dropdown-btn">
                <strong><span style="color: black;"><i class="fa fa-building"></i> Dealers</span></strong>
              </div>
              <div class="dropdown-list-setting">
                <ul class="account dropdown-menu">
                  <li class="find-dealer">
                    <a href="{{ findDealer_link }}"><i class="fa fa-search"></i> Find A Dealer</a>
                  </li>
                  <li class="become-dealer">
                    <a href="{{ dealer_link }}"><i class="fa fa-handshake-o"></i> Become A Dealer</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Item: Contact Us -->
            <div class="dropdown-block block-topsetting headerRightItem">
              <div class="dropdown-btn">
                <strong><a href="#" style="color: black;"><i class="fa fa-envelope"></i> Talk to Experts</a></strong>
              </div>
              <div class="dropdown-list-setting">
                <ul class="account dropdown-menu">
                  <li class="customer-support">
                    <a href="{{ customerSupport }}"><i class="fa fa-life-ring"></i> Customer Support</a>
                  </li>
                  <li class="request-quote">
                    <a href="{{ quote }}"><i class="fa fa-file-text-o"></i> Request a Quote</a>
                  </li>
                  <li class="book-demo">
                    <a href="{{ bookDemo }}"><i class="fa fa-calendar"></i> Book a Demonstration</a>
                  </li>
                  <li class="book-demo">
                    <a href="index.php?route=information/information&information_id=7"><i class="fa fa-video-camera"></i> Demo Videos</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Item: Search -->
            <div class="header_search headerRightItem">
              <div class="icon-search"><i class="fa fa-search"></i></div>
              {{ search_block }}
            </div>
            <div class="headerRightItem">
              <a class="btn btn-danger btn-md" href="{{ contact }}"><i class="fa fa-envelope"></i> Contact Now</a>
            </div>
            <div class="headerRightItem">
  <a class="btn btn-custom-blue-red btn-md" href="tel:+61395688383">
    <i class="fa fa-phone"></i> (03) 9568 8383
  </a>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar for Mobile -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <i class="fa fa-times close-sidebar" style="font-size: 24px; cursor: pointer;"></i>
    </div>
    <div class="sidebar-content">
      <div class="middle-right">
        <!-- Item: NDIS & Funding -->
        <div class="headerRightItem">
          <strong><a class="Funding" href="{{ ndis_link }}" style="color: black;"><i class="fa fa-usd" style="font-size: 18px;"></i> NDIS & Funding</a></strong>
        </div>
        <!-- Item: Dealers -->
        <div class="dropdown-block block-topsetting headerRightItem">
          <div class="dropdown-btn">
            <strong><a href="#" style="color: black;"><i class="fa fa-building"></i> Dealers</a></strong>
          </div>
          <div class="dropdown-list-setting">
            <ul class="account dropdown-menu">
              <li class="find-dealer">
                <a href="{{ findDealer_link }}"><i class="fa fa-search"></i> Find A Dealer</a>
              </li>
              <li class="become-dealer">
                <a href="{{ dealer_link }}"><i class="fa fa-handshake-o"></i> Become A Dealer</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Item: Contact Us -->
        <div class="dropdown-block block-topsetting headerRightItem">
          <div class="dropdown-btn">
            <strong><a href="#" style="color: black;"><i class="fa fa-envelope"></i> Talk to Experts</a></strong>
          </div>
          <div class="dropdown-list-setting">
            <ul class="account dropdown-menu">
              <li class="customer-support">
                <a href="{{ customerSupport }}"><i class="fa fa-life-ring"></i> Customer Support</a>
              </li>
              <li class="request-quote">
                <a href="{{ quote }}"><i class="fa fa-file-text-o"></i> Request a Quote</a>
              </li>
              <li class="book-demo">
                <a href="{{ bookDemo }}"><i class="fa fa-calendar"></i> Book a Demonstration</a>
              </li>
              <li class="book-demo">
                <a href="index.php?route=information/information&information_id=7"><i class="fa fa-video-camera"></i> Demo Videos</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Item: Search -->
        <div class="header_search headerRightItem">
          <div class="icon-search"><i class="fa fa-search"></i></div>
          {{ search_block }}
        </div>
        <div class="headerRightItem">
          <a class="btn btn-danger btn-md" href="{{ contact }}"><i class="fa fa-envelope"></i> Contact Now</a>
        </div>
        <div class="headerRightItem">
          <a class="btn btn-custom-blue-red btn-md" href="#"><i class="fa fa-phone"></i> (03) 9568 8383</a>
        </div>
      </div>
    </div>
  </div>

  <div class="header-center {{hidden_headercenter}}">
    <div class="container">
      <div class="row">
        <div class="header-center col-lg-10 col-md-10 col-sm-8 col-xs-12 pull-left">
          <div class="main-menu-w">
            {{ content_menu1 }}
          </div>
        </div>
        <div class="header-center col-lg-2 col-md-2 col-sm-4 col-xs-12 pull-right">
          <div class="middle-right col-right-top row col-left-top" style="width: 100%; display: flex; align-items: center; justify-content: flex-end; gap: 28px;">
            
            {% if logged %}
            <div class="dropdown-block block-topsetting headerRightItem ">
              <div class="dropdown-btn">
                <i class="fa fa-user"></i>
              </div>
              <div class="dropdown-list-setting">
                <ul class="account dropdown-menu">
                  {% if logged %}
                  <li class="logout">
                    <a class="link-lg" href="{{ logout }}">{{ text_logout }}</a>
                  </li>
                  <li><a href="{{ account }}">{{ text_account }}</a></li>
					<li><a href="{{ order }}">{{ text_order }}</a></li>
                  {% else %}
                  <li class="login hidden">
                    <a class="link-lg" href="{{ login }}">{{ text_login }}</a>
                  </li>
                  <li class="register hidden">
                    <a class="register" href="{{ register }}">{{ text_register }}</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="shopping_cart headerRightItem">
              {{ cart }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    /* Sidebar Styles */
    .sidebar {
      position: fixed;
      top: 0;
      left: -100%;
      width: 250px;
      height: 100%;
      background: #fff;
      box-shadow: 2px 0 5px rgba(0,0,0,0.2);
      transition: left 0.3s ease;
      z-index: 1000;
    }
    .sidebar.active {
      left: 0;
    }
    .sidebar-header {
      padding: 15px;
      border-bottom: 1px solid #dfdfdf;
      text-align: right;
    }
    .sidebar-content {
      padding: 15px;
    }
    .sidebar-content .headerRightItem {
      margin-bottom: 15px;
    }
    .sidebar-content .dropdown-list-setting {
      display: none;
    }
    .sidebar-content .dropdown-block.active .dropdown-list-setting {
      display: block;
    }
    /*.burger-menu {*/
    /*  display: none;*/
    /*}*/
    @media (max-width: 991px) {
      /*.burger-menu {*/
      /*  display: block;*/
      /*  padding: 10px;*/
      /*}*/
      .middle-right {
        display: none !important;
      }
    }
    /* Dropdown Styles for Sidebar */
    .sidebar-content .dropdown-btn {
      cursor: pointer;
    }
    .sidebar-content .dropdown-list-setting ul {
      list-style: none;
      padding: 10px in sidebar
      margin: 0;
    }
    .sidebar-content .dropdown-list-setting li {
      margin-bottom: 10px;
    }
  </style>

 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdIW7xk3UQDxMkhznl2gEyabtnGXHN2ww&libraries=places&callback=initMap" async defer></script>
<script>
    
    $(document).ready(function(){
    localStorage.setItem("updatedPostcodes", '');
    let isPageLoadCall = false;
    
    // Auto-trigger search on page load to show all dealers nationwide
setTimeout(function() {
    // Only run if map is ready and no search has been performed yet
    if (window.map && $('#dealer-results').html().trim() === '') {
        $('#searchBtn').html('Loading...').prop('disabled', true);

        // Use geographic center of Australia as default location
        var defaultLat = -25.274398;  // Approximate center of Australia
        var defaultLng = 133.775136;
        var largeRange = 5000;       // 5000 km → effectively covers all of Australia
          isPageLoadCall = true;
        // Trigger the dealer fetch with nationwide range
        sendDealersRequest(defaultLat, defaultLng, '', $('#searchBtn'), largeRange,isPageLoadCall);
    }
}, 1000); // Small delay to ensure map and DOM are fully ready
});

// Define initMap globally
window.initMap = function () {
    var mapEl = document.getElementById('map');
  if (!mapEl) return;

  window.map = new google.maps.Map(mapEl, {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    gestureHandling: 'greedy'
  });

  // Fit whole Australia on load
  var australiaBounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(-44.0, 112.0), // SW
    new google.maps.LatLng(-10.0, 154.0)  // NE
  );

  map.fitBounds(australiaBounds);

  window.bounds = new google.maps.LatLngBounds();
  window.infoWindow = new google.maps.InfoWindow();
  window.markers = [];

    if (typeof jQuery !== 'undefined') {
        // Consolidated state-tabs click handler
        $('.state-tabs .btn').off('click').on('click', function () {
            $('.state-tabs .btn').removeClass('active');
            $(this).addClass('active');
            var selectedState = $(this).data('state');
            var manufacturerId = $('#manufacturer').val();
            if (!manufacturerId) {
                console.log('No manufacturer selected');
                return;
            }
            $.ajax({
                url: 'index.php?route=dealer/dealer/getDealers',
                type: 'POST',
                data: {
                    manufacturer_id: manufacturerId,
                    selectedState: selectedState,
                    
                },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        // displayDealers(response.dealers);
                        if (response.dealersProducts) {
                            var productOptions = '<option value="">Select Product (Optional)</option>';
                            $.each(response.dealersProducts, function (index, product) {
                                productOptions += '<option value="' + product.product_id + '">' + product.name + '</option>';
                            });
                            $('#brandProduct').html(productOptions);
                        } else {
                            $('#brandProduct').html('<option value="">No products found</option>');
                        }
                        setTimeout(function () {
                            if (window.bounds && !window.bounds.isEmpty()) {
                                window.map.fitBounds(window.bounds);
                            }
                        }, 500);
                    }
                },
                error: function () {
                    console.error('Failed to fetch dealers');
                }
            });
        });

        $('#manufacturer').off('change').on('change', function () {
            var manufacturerId = $(this).val();
            var selectedState = $('.state-tabs .btn.active').data('state');
           $('#brandProduct').html(
        '<option value="" class="loading-option" selected disabled>' +
        '<span class="loading-spinner"></span>Loading products...' +
        '</option>'
    );
            if (!manufacturerId) return;
            $.ajax({
                url: 'index.php?route=dealer/dealer/getDealers',
                type: 'POST',
                data: {
                    manufacturer_id: manufacturerId,
                    selectedState: selectedState,
                    
                },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        // displayDealers(response.dealers);
                        if (response.dealersProducts) {
                            var productOptions = '<option value="">Select Product (Optional)</option>';
                            $.each(response.dealersProducts, function (index, product) {
                                productOptions += '<option value="' + product.product_id + '">' + product.name + '</option>';
                            });
                            $('#brandProduct').html(productOptions);
                        } else {
                            $('#brandProduct').html('<option value="">No products found</option>');
                        }
                        setTimeout(function () {
                            if (window.bounds && !window.bounds.isEmpty()) {
                                window.map.fitBounds(window.bounds);
                            }
                        }, 500);
                    }
                },
                error: function () {
                    console.error('Failed to fetch dealers');
                }
            });
        });

        $('#searchBtn').off('click').on('click', function () {
    var $searchBtn = $(this);
    clearMarkers();
    $('#dealer-results').html('');
    $searchBtn.html('Loading...').prop('disabled', true);

    let postcode = $('#postcode').val().trim();
    let range = 200;
   
     if (!postcode) {
    fetch('https://ipapi.co/json/')
    .then(response => response.json())
    .then(data => {
        postcode = data.postal;
        range = 4000;
        
        console.log('Postcode:', data.postal);
        console.log('IP:', data.ip);
    })
    .catch(error => console.error('Error:', error));
    
     }
    // if (!postcode) {
    //     alert('Please enter a postcode.');
    //     resetButton();
    //     return;
    // }

    // First: get the user's lat/lng from the postcode using Google proxy
    $.ajax({
        url: 'index.php?route=dealer/googleproxy/geocode',
        type: 'POST',
        data: { address: postcode },
        dataType: 'json',
        success: function (data) {
            if (data.status === 'OK' && data.results && data.results.length) {
                let userLocation = data.results[0].geometry.location;

                // Then: fetch nearby dealers from your backend
                sendDealersRequest(userLocation.lat, userLocation.lng,  postcode, $searchBtn , range);
            } else {
                alert('Invalid postcode. Please try again.');
                resetButton();
            }
        },
        error: function () {
            alert('Error fetching location.');
            resetButton();
        }
    });
});
    }
};



function sendDealersRequest(userLat, userLng,  userPostcode, $searchBtn, range ,isPageLoadCall=false) {
    console.log("isPageLoadCall",isPageLoadCall)
     var manufacturerId = $('#manufacturer').val();
    var brandProduct = $('#brandProduct').val();
     var selectedState = $('.state-tabs .btn.active').data('state');
    
    $.ajax({
        url: 'index.php?route=dealer/dealer/fetchDealerfromPostcode',
        type: 'POST',
        data: JSON.stringify({
            lat: userLat,
            lng: userLng,
            range: range,
            manufacturerId: manufacturerId || '',
            product_id: brandProduct || '',
            selectedState : selectedState || ''
        }),
        contentType: 'application/json',
        dataType: 'json',
        success: function (data) {
            var el = document.getElementById('dealer-results');
if (el && !isPageLoadCall) {
  // scroll so the element is at top of viewport
  el.scrollIntoView({ behavior: 'smooth', block: 'start' });
}
          
            if (data && data.dealers && data.dealers.length) {
                $searchBtn.html('Search').prop('disabled', false);
                calculateDistance(userPostcode, userLat, userLng, data.dealers);
            } else {
                var el = document.getElementById('dealer-results');
                if (el) el.innerHTML = '<p>No dealers found within.</p>';
                resetButton();
            }
        },
        error: function () {
            alert('Error fetching dealers.');
            resetButton();
        }
    });
}



function calculateDistance(userPostcode, userLat, userLng, dealers) {
    var origins = encodeURIComponent(userLat + ',' + userLng);
    var destinations = dealers.map(d => encodeURIComponent((d.business_address || '') + ', ' + d.postcode + ', Australia')).join('|');
    $.ajax({
        url: 'index.php?route=dealer/googleproxy/distance',
        type: 'POST',
        data: { origins: origins, destinations: destinations },
        dataType: 'json',
        success: function (data) {
            if (data.status === 'OK' && data.rows && data.rows.length) {
                data.rows[0].elements.forEach(function (el, i) {
                    if (el.status === 'OK') {
                        var distText = el.distance.text;
                        var distValue = distText.includes('km') ? parseFloat(distText) : parseFloat(distText) / 1000;
                        dealers[i].distance = distText;
                        dealers[i].distanceValue = distValue;
                    }
                });
                // dealers.sort((a, b) => a.distanceValue - b.distanceValue);
                
                dealers.sort((a, b) => {
    // Always put dealer_id 567(mobilitycare) at the top
    if (a.dealer_id == 567) return -1;
    if (b.dealer_id == 567) return 1;

    // Otherwise sort normally by distance
    return a.distanceValue - b.distanceValue;
});


            }
            displayDealers(dealers);
        },
        error: function () {
            displayDealers(dealers);
        }
    });
}

function displayDealers(dealers) {
    clearMarkers();
    if (window.map && typeof google !== 'undefined') {
        window.bounds = new google.maps.LatLngBounds();
    }
    var output = '<div class="row">';
    var markerCount = 0;
    dealers.forEach(function (dealer) {
        var fullAddress = (dealer.business_address || '') + ', ' + (dealer.postcode || '') + ', Australia';
        output += `
            <div class="col-sm-6 col-md-4 dealer-col">
                <div class="dealer-card">
                    <strong class="dealer-name">${dealer.full_name}</strong>
                    <p><i class="fa fa-phone"></i> ${dealer.phone || ''}</p>
                    <p><i class="fa fa-map-marker"></i> ${dealer.business_address || ''} ${dealer.suburb || ''} ${dealer.state || ''} ${dealer.postcode || ''}</p>
                    ${dealer.distance ? `<div class="distance"><i class="fa fa-road"></i> ${parseFloat(dealer.distance).toFixed(2)} Km away</div>` : ''}
                    <button class="btn-map" data-address="${dealer.business_address || ''} ${dealer.suburb || ''} ${dealer.state || ''} ${dealer.postcode || ''}">
                        <i class="fa fa-location-arrow"></i>
                    </button>
                </div>
            </div>
        `;
        if (dealer.business_address && dealer.postcode && window.map && typeof google !== 'undefined') {
            let fullAddress = dealer.business_address + ', ' + dealer.suburb + ' ' + dealer.state + ' ' + dealer.postcode + ', Australia';
            geocodeAndAddMarker(fullAddress, dealer.full_name, dealer.phone);
            markerCount++;
        }
    });
    output += '</div>';
    $('#dealer-results').html(output);

    $(document).on('click', '.btn-map', function() {
        let fullAddress = $(this).data('address');
        let decodedAddress = decodeURIComponent(fullAddress);
        geocodeAddress(decodedAddress, function (lat, lng) {
            if (lat && lng) {
                window.open(`https://www.google.com/maps?q=${lat},${lng}`, '_blank');
            } else {
                window.open(
                    'https://www.google.com/maps/search/?api=1&query=' + encodeURIComponent(decodedAddress),
                    '_blank'
                );
            }
        });
    });

    // setTimeout(function () {
    //     resetButton();
    //     if (window.bounds && window.map && !window.bounds.isEmpty()) {
    //         window.map.fitBounds(window.bounds);
    //         console.log('Map bounds updated with', window.markers.length, 'markers');
    //     } else {
    //         console.warn('Cannot fit bounds, map or bounds invalid, markers:', window.markers.length);
    //     }
    // }, 1000 * markerCount || 1000);
}

let pendingGeocodes = 0;

function geocodeAndAddMarker(address, name, phone) {
    pendingGeocodes++;

    $.ajax({
        url: 'index.php?route=dealer/googleproxy/geocode',
        type: 'POST',
        data: { address: address },
        dataType: 'json',
        success: function (data) {
            if (data.status === 'OK' && data.results[0]) {
                const position = data.results[0].geometry.location;

                const marker = new google.maps.Marker({
                    map: window.map,
                    position: position,
                    title: name
                });

                window.markers.push(marker);
                window.bounds.extend(position);

                google.maps.event.addListener(marker, 'click', function () {
                    window.infoWindow.setContent(`
                        <strong>${name}</strong><br>
                        ${address}<br>
                        <i class="fa fa-phone"></i> ${phone || ''}
                    `);
                    window.infoWindow.open(window.map, marker);
                });
            }
        },
        complete: function () {
            pendingGeocodes--;

            // ✅ FIT MAP ONLY ONCE (when all markers are done)
            if (pendingGeocodes === 0 && !window.bounds.isEmpty()) {
                window.map.fitBounds(window.bounds);

                // Optional zoom cap
                google.maps.event.addListenerOnce(window.map, 'bounds_changed', function () {
                    if (window.map.getZoom() > 12) {
                        window.map.setZoom(12);
                    }
                });

                resetButton();
            }
        }
    });
}


function geocodeAddress(address, callback) {
    if (!google.maps) {
        callback(null, null);
        return;
    }
    $.ajax({
        url: 'index.php?route=dealer/googleproxy/geocode',
        type: 'POST',
        data: { address: address },
        dataType: 'json',
        success: function (data) {
            if (data.status === 'OK' && data.results[0]) {
                var loc = data.results[0].geometry.location;
                callback(loc.lat, loc.lng);
            } else {
                callback(null, null);
            }
        }
    });
}

function clearMarkers() {
    console.log('Clearing markers, window.markers:', window.markers);
    if (!Array.isArray(window.markers)) {
        window.markers = [];
        console.log('Initialized window.markers as empty array');
        return;
    }
    window.markers.forEach(function (m) { m.setMap(null); });
    window.markers = [];
    console.log('Markers cleared');
}

function resetButton() {
    var sb = document.getElementById('searchBtn');
    if (sb) { sb.innerHTML = 'Search'; sb.disabled = false; }
}
    
</script>
</header>