 {{ header }}
  <link href="catalog/view/theme/so-clickboom/css/customerForms.css" rel="stylesheet" type="text/css" />

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    <div class="container text-black">
    <div class="row mt-5">
        <div class="demo-request-container">
    <div class="demo-request-left col-md-5 col-sm-12" style="margin-top:-250px">
        <h1>Place an Order </h1>
       
        
        <p>Ready to place your order? 
Complete the form below and our team will contact you to confirm details, pricing and delivery.  </p>
<p><b>What happens next :</b></p>
        <ul>
            <li>✅ We’ll review your order and confirm availability </li>
            <li>✅  You’ll receive an order summary or quote for approval </li>
            <li>✅ Once confirmed, we’ll arrange payment and shipping </li>
         
        </ul>
        
    </div>
    
    <div class="demo-request-right col-md-7 col-sm-12">
        <form action="{{ action }}" method="post" id="demoRequestForm">
            
            <div class="">
               <input type="text" name="fullname"  placeholder="Full Name *" required>
               {% if error_name %} 
             <div class="text-red">{{ error_name }}</div>
             {% endif %} 
             </div>

            <div class="">
              <input type="email" name="email"  placeholder="Email *" required>
              {% if error_email %} 
              <div class="text-red">{{ error_email }}</div>
              {% endif %} 
            </div>

            <div class="">
            <input type="number" name="phone"  placeholder="Phone Number *" maxlength="10" required>
            {% if error_phone %} 
             <div class="text-red">{{ error_phone }}</div>
             {% endif %} 
            </div>

            <div class="">
          
<input type="text" name="postcode" placeholder="Postcode *" maxlength="4" pattern="^[0-9]{1,4}$" title="Please enter up to 4 digits only" oninput="this.value=this.value.replace(/[^0-9]/g,'').slice(0,4);" required>


             </div>

           <div class="">
               <input type="text" name="business_name"  placeholder="Organisation / Business Name (optional) ">
              
             </div>

          
            
             <div class="">
               
                    
                    <select name="contact_type" id="contact_type" class="form-control" required>
                        <option value="">Are you contacting us as ?</option>
                        <option value="For Myself">For Myself</option>
                        <option value="For a Friend/Family Member">For a Friend/Family Member</option>
                        <option value="Healthcare Professional">Healthcare Professional</option>
                        <option value="Dealer or Business">Dealer or Business</option>
                        <option value="Government or Non-Profit Organisation">Government or Non-Profit Organisation</option>
                        <option value="Other">Other</option>
                    </select>
               
            </div>
            
            <div class="" id="healthcare_profession" style="display: none;">
               
                    <label>If Healthcare Professional, please specify:</label>
                    <select name="healthcare_profession" class="form-control">
                        <option value="Occupational Therapist">Occupational Therapist</option>
                        <option value="Physiotherapist">Physiotherapist</option>
                        <option value="Rehabilitation Specialist">Rehabilitation Specialist</option>
                        <option value="Aged Care Professional">Aged Care Professional</option>
                        <option value="Nurse or Caregiver">Nurse or Caregiver</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Orthopedic Specialist">Orthopedic Specialist</option>
                    </select>
               
            </div>
            
              <div class="">
                 <select name="manufacturer_id" id="manufacturer_id" class="form-control" required>
    <option value="" disabled {% if not manufacturer_id %}selected{% endif %}>Product of interest *</option>
    {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.manufacturer_id }}" {% if manufacturer_id == manufacturer.manufacturer_id %}selected{% endif %}>
                {{ manufacturer.name }}
            </option>
    {% endfor %}
</select>

    {% if error_manufacturer_id %}
        <div class="text-red">{{ error_manufacturer_id }}</div>
    {% endif %}
             
            </div>
            
            <div class="">
                <textarea name="message" class="form-control" placeholder="Notes / Special Instructions (optional)"></textarea>
            </div>
              <div class="">
             {{ captcha }}
              </div>
                <input type="hidden" name="originalCaptcha" value={{ originalCaptcha }}>
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit Order</button>
        </form>
        <div id="toastMessage" class="toast"></div>
        <div id="loaderOverlay" class="loader-overlay">
        <div class="loader"></div>
         </div>
    </div>
</div>


    </div> 
    </div>
    </div> 
    {{ column_right }}
    </div> 
     </div> 
     {{ footer }}
     <script>
      $('#loaderOverlay').hide();
    //  $('#demoRequestForm').submit(function(e) {
    //             e.preventDefault();
    //             var form = $(this);
    //             $('.text-red').remove(); // Clear previous errors
    //           $('#loaderOverlay').show();
    //             $.ajax({
    //                 url: form.attr('action'),
    //                 type: 'POST',
    //                 data: form.serialize(),
    //                 dataType: 'json',
    //                 success: function(response) {
    //                     if (response.success) {
    //                         $('#toastMessage').text(response.success).removeClass('error').show();
    //                         $('#loaderOverlay').hide();
    //                         setTimeout(function() {
    //                             $('#toastMessage').fadeOut();
    //                         }, 3000);
    //                         form[0].reset();
    //                         $('#profession_other_group').hide();
    //                         $('#profession_other').prop('required', false);
    //                     } else if (response.error) {
    //                         $('#loaderOverlay').hide();
    //                         $.each(response.error, function(key, value) {
    //                             $('#' + key).after('<div class="text-red">' + value + '</div>');
    //                         });
    //                         $('#toastMessage').text('Please fill form correctly.').addClass('error').show();
    //                         setTimeout(function() {
    //                             $('#toastMessage').fadeOut();
    //                         }, 3000);
    //                     }
    //                 },
    //                 error: function() {
    //                     $('#toastMessage').text('An error occurred. Please try again.').addClass('error').show();
    //                     setTimeout(function() {
    //                         $('#toastMessage').fadeOut();
    //                     }, 3000);
    //                 }
    //             });
    //         });
     </script>
        <script>
document.getElementById("contact_type").addEventListener("change", function() {
    var healthcareField = document.getElementById("healthcare_profession");
    if (this.value === "Healthcare Professional") {
        healthcareField.style.display = "block";
    } else {
        healthcareField.style.display = "none";
    }
});
</script>